<section class="hero">
  <div class="flex-container desktop-flex-rows fixed-width-lg p-v-lg flex-space-between">
    <div>
      <a routerLink="/">
        <app-svg-viewer fxFlex src="/assets/logo-offscale.svg"></app-svg-viewer>

      </a>
    </div>
    <nav fxHide.lt-md fxLayout="row" fxLayoutGap="20px">
      <!--

  <a href="#" fxFlex>docs</a>
  <a href="#" fxFlex>download</a>
  -->

      <h1 fxFlex>
        <a href="https://github.com/offscale">
          <img src="/assets/github-white.svg"
               alt="GitHub repos for Compiler Driven Development"
               height="50px"/>
        </a>
      </h1>
    </nav>
  </div>

  <div class="text-size-xl text-center m-v-lg" style="padding-bottom: 200px;">
    Diagnose the world.<br/>Without government.
  </div>

  <!--
  <div class="text-center" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px"
       style="padding-bottom: 200px;">
    <a href="#" class="btn btn-primary" fxFlex>Download</a>
    <a href="#" class="btn btn-secondary" fxFlex>Get Started</a>
  </div>
  -->
</section>

<section class="about center">
  <div class="flex-container flex-cols m-v-lg">
    <div class="hero-image" style="margin-top: -200px;" [innerHtml]="safeHtml" *ngIf="safeHtml">
      <!--<img src="/assets/app-hero.png" width="100%"/>-->
      <a href="https://asciinema.org/a/CGLkzUweoBheomL7uWMC7pZ9f" target="_blank">
        <img src="https://asciinema.org/a/CGLkzUweoBheomL7uWMC7pZ9f.svg"/>
      </a>
    </div>

    <div class="flex-container m-v-lg text-size-lg fixed-width-md">
      Dedicated to open-source R&D of medical devices and software, with a view towards worldwide diagnostic screening.
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <img src="/assets/dial-36x.svg"/>
        <h2>Medical devices</h2>
        <div>Smartphone ophthalmoscopes developed alongside ophthalmologists (surgeons) in Sydney, Australia.
        </div>
      </div>

      <div fxFlex>
        <img src="/assets/dial-gear.svg"/>
        <h2>Software</h2>
        <div>
          Artificial Intelligence to diagnose glaucoma (98.59% AUC) and diabetic retinopathy (TBA% AUC).
        </div>
      </div>

      <div fxFlex>
        <img src="/assets/dial-heart.svg"/>
        <h2>100% open source</h2>
        <div>(Apache OR MIT) licensed. Totally free.</div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <img src="/assets/dial-multicloud.svg"/>
        <h2>Scholarship</h2>
        <div>Supporting doctoral research.</div>
      </div>

      <div fxFlex>
        <img src="/assets/dial-ml.svg"/>
        <h2>Scalable</h2>
        <div>Medical device and software distribution setup to screen 100M people in the next 5 years.</div>
      </div>

      <div fxFlex>
        <img src="/assets/dial-distributed.svg"/>
        <h2>Non-government</h2>
        <div>Self-funded through <a href="https://offscale.io" target="_blank">unrelated consulting work</a>.<br/>
          Completely non-profit. All devices, software, and IP are <strong>given away</strong> at our expense.</div>
      </div>
    </div>
  </div>
</section>

<section>
  <div fxLayout="row" fxLayoutGap="25px" fxLayout.lt-md="column">
    <div fxFlex>
      <img src="/assets/country.png" width="100%"/>
    </div>
    <div fxFlex>
      <div class="text-bold text-size-md">$1,068,815.62 for the first 2.3962 billion people</div>
      <p>
        The medical device we invented brings the smartphone ophthalmoscope down from the $3000&ndash;$500 range to less than 1&cent;.
      </p>
      <p>
        Meaning we can now screen a good 31.7% of the world for a million dollars &amp; change.
      </p>

      <div class="text-bold text-size-md">Non-government</div>
      <p>
        Our budgets are not party to changing political environments.
      </p>

      <div class="text-bold text-size-md">Research and medical doctor approved</div>
      <p>
        Researched with some of the world-leading ophthalmologists, with the University of Sydney (ranked #5 in the world for ophthalmology).
      </p>
    </div>
  </div>
</section>

<section class="case_study p-v-lg">
  <div class="flex-container text-center flex-cols flex-center">
    <div class="m-v-md text-size-lg">Get involved</div>
    <a href="mailto:samuel@offscale.io" class="btn btn-primary m-v-md">
      reach out
    </a>
  </div>
</section>

<footer fxLayout="row" fxLayoutAlign="center center"
        style="padding: 40px 0 40px 90px" ngStyle.lt-md="{'padding': 0 40px}"
        class="text-center">
  <a routerLink="/" fxFlex>
    <app-svg-viewer fxFlex src="/assets/logo-offscale.svg"></app-svg-viewer>
  </a>
  <div class="mobile-hide" fxFlex>
    &copy; 2018&ndash;2020 <a href="https://offscale.io">offscale</a>
  </div>
</footer>
