section,
footer {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #ff6a00;
  color: white;
  line-height: 100px;
}

.case_study {
  background-color: #220066;
  color: white;
}

.text-size-xl {
  font-weight: bold;
  font-size: 48px;
}

@media screen and (max-width: 599px) {
  .text-size-xl {
    font-weight: bold;
    font-size: 38px;
  }
}

.text-size-lg {
  font-weight: bold;
  font-size: 38px;
}

.text-size-md {
  font-size: 18px;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.btn {
  width: 100%;
  border-radius: 100px;
  line-height: 70px;
  max-width: 350px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: white;
}

.btn-primary {
  background: rgb(254, 61, 93);
  background: linear-gradient(
      0deg,
      rgba(254, 61, 93, 1) 0%,
      rgba(253, 151, 62, 1) 100%
  );
}

.btn-secondary {
  background-color: #5e5e5e;
}

.p-v-lg {
  padding-top: 50px;
  padding-bottom: 50px;
}

.m-v-lg {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-v-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-h-sm {
  margin-left: 10px;
  margin-right: 10px;
}

p {
  margin-top: 0;
}

h2 {
  margin-bottom: 10px;
}

hr.vertical {
  height:100%; /* you might need some positioning for this to work, see other questions about 100% height */
  width:0;
  border:1px solid black;
}
