<section class="hero" fxLayout="column">
  <nav fxFlex fxLayout="row" ngStyle.gt-sm="padding-top: 20px" ngStyle.lt-md="padding-top: 0">
    <a fxFlex.gt-md="50" routerLink="/">
      <img alt="Offscale"
           height="100px"
           src="/assets/logo-offscale.svg"
           style="width: 100%"/>
    </a>
    <h1 fxFlex fxLayoutAlign="end" ngStyle.lt-md="font-size: small">
      <a href="https://github.com/offscale">
        <img alt="GitHub repos for Compiler Driven Development"
             height="50px"
             ngStyle.lt-md="height: 30px; padding: 0 10px" src="/assets/github-white.svg"/>
      </a>
    </h1>
  </nav>
  <app-site-mode></app-site-mode>
  <ng-content fxFlex></ng-content>
</section>
