<div class="fab-container" fxLayout="row" fxLayoutGap="5px">
  @switch (siteModeService.siteMode$ | async) {
    @case ('business') {
      <div (click)="siteModeService.siteModeSubject$.next('engineer')" class="fakeTooltip"
           fxFlex fxHide.lt-sm>
        Translate for engineers
      </div>
      <button (click)="siteModeService.siteModeSubject$.next('engineer')" aria-label="Software-engineer translation"
              fxFlex.gt-xs="16"
              mat-mini-fab>
        <mat-icon>business_center</mat-icon>
      </button>
    }
    @case ('engineer') {
      <div (click)="siteModeService.siteModeSubject$.next('business')" class="fakeTooltip"
           fxFlex fxHide.lt-sm>
        Translate for business
      </div>
      <button (click)="siteModeService.siteModeSubject$.next('business')" aria-label="Business translation"
              fxFlex.gt-xs="16"
              mat-mini-fab>

        <mat-icon>build</mat-icon>
      </button>
    }
  }
</div>
